@model Viddz.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Movie.Name)
        @Html.TextBoxFor(model => model.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Movie.ReleaseDate)
        @Html.TextBoxFor(model => model.Movie.ReleaseDate, "{0:d MMM YYYY}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Movie.GenreId)
        @Html.DropDownListFor(model => model.Movie.GenreId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>
            @Html.TextBoxFor(model => model.Movie.NumberInStock, new { @class = "form-control" })
        </label>
    </div>
    @Html.HiddenFor(m => m.Movie.Id)
    <button type="submit" class="btn btn-primary">
        Save
    </button>


}